@font-face {
    font-family: "poppins";
    src: url(./assets/Poppins-Regular.ttf);
}
@media (min-width: 800px){
    .community-item{
        background-color: #ececec;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        margin-top: 10px;
        display: inline-block;
        width: calc(50% - 40px);
        height: 800px;
        vertical-align: top;
        overflow-y: scroll;
    }
    #grid{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #navbar{
        background-color: #b1caff;
        width: calc(100% - padding)px;
        height: 100px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 25px;
        border-radius: 15px;
    }
    #navLinks{
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .news-item{
        border: 5px solid rgb(85, 85, 85);
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 10px;
        width: 25%;
        height: fit-content;
        cursor: pointer;
    }
    .main-text{
        margin-top: 0px;
    }
    .tag{
        display: inline-block;
        background-color: #c5c5c5;
        color: rgb(0, 0, 0);
        padding: 2px 8px;
        margin: 5px 5px 0 0;
        border-radius: 10px;
        font-size: 0.8em;
    }
    hr{
        width: 25%;
    }
    #sources-div{
        background-color: #c5c5c5;
        height: fit-content;
        width: 25%;
        border-radius: 10px;
        padding: 10px;
    }
    .xButton{
        float: right;
        cursor: pointer;
    }
    .sourcesHeader{
        float: top;
    }
    .scrollWatcher{
        height: 1px;
        width: 100%;
    }
}
body{
    font-family: "poppins";
}
.invisible-link{
    text-decoration: none;
    color: black;
}
#filters{
    display: none;
    background-color: #d6d6d6;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
#filter{
    position: absolute;
    z-index: 100000;
}
#filterForm{
    height: fit-content;
    width: fit-content;
    max-height: 170px;
    overflow-y: scroll;
}
#date-filter{
    display: none;
    background-color: #d6d6d6;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    vertical-align: top;
}
.date{
        text-align: center;
    }
.logospan{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 50px;
    height: 50px;
}
#news{
    width: 100%;
    height: 100%;
}
@media (max-width: 800px), (orientation: portrait){
    /* mobile devices */
    #navbar{
        background-color: #b1caff;
        width: calc(100% - padding)px;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
    }
    hr{
        width: 50%;
    }
    #left{
        width: 100%;
        height: fit-content;
    }
    .news-item{
        border: 5px solid rgb(85, 85, 85);
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 90%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .main-text{
        margin-top: 0px;
    }
    .tag{
        display: inline-block;
        background-color: #c5c5c5;
        color: rgb(0, 0, 0);
        padding: 2px 8px;
        margin: 5px 5px 0 0;
        border-radius: 10px;
        font-size: 0.8em;
    }
    #sources-div{
        background-color: #c5c5c5;
        height: fit-content;
        width: 90%;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
    }
    .xButton{
        float: right;
        cursor: pointer;
        font-size: larger;
    }
    .sourcesHeader{
        float: top;
    }
}