hr.right{
    width: 30%;
    float: left;
}
hr.left{
    width: 30%;
    float: right;
}

#news{
    width: 100%;
    height: 100%;
}
.logo{
    width: 50px;
    height: 50px;
    float: left;
}
.news-item{
    border: 5px solid rgb(85, 85, 85);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    height: 20%;
}
.sumarry{
    position: relative;
    top: 10px;
    left: 10px;
}
#left{
    display: inline-block;
    border-right: 5px solid black;
    width: 49%;
    height: 100vh;
    text-align: right;
}
#right{
    vertical-align: top;
    display: inline-block;
    width: 49%;
    height: 100vh;
    text-align: left;
}