@font-face {
    font-family: "poppins";
    src: url(./assets/Poppins-Regular.ttf);
}
@media (min-width: 800px){
    #filterForm{
        height: fit-content;
        width: fit-content;
        max-height: 400px;
        overflow-y: scroll;
    }
    .community-item{
        background-color: #0f172b;
        border: 5px solid #1d293d;
        color: #b5bac5;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        margin-top: 10px;
        display: inline-block;
        width: calc(40% - 40px);
        height: 800px;
        vertical-align: top;
        overflow-y: scroll;
    }
    .hytaleTrackerLogo{
        height: 90%;
    }
    #grid{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #navbar{
        background-color: #0f172b;
        color: #b5bac5;
        width: calc(100% - padding)px;
        height: 100px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 25px;
        border-radius: 15px;
    }
    #navLinks{
        color: #b5bac5;
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .news-item{
        border: 5px solid #1d293d;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 10px;
        width: 40%;
        height: fit-content;
        cursor: pointer;
        background-color: #0f172b;
    }
    .main-text{
        margin-top: 0px;
    }
    .tag{
        display: inline-block;
        color: #b5bac5;
        padding: 2px 8px;
        margin: 5px 5px 0 0;
        border-radius: 10px;
        font-size: 0.8em;
    }
    
    hr{
        width: 25%;
    }
    #sources-div{
        background-color: #0f172b;
        border: 5px solid #1d293d;
        height: fit-content;
        width: 25%;
        border-radius: 10px;
        padding: 10px;
        overflow-x: scroll;
    }
    .xButton{
        float: right;
        cursor: pointer;
    }
    .sourcesHeader{
        float: top;
    }
    .scrollWatcher{
        height: 1px;
        width: 100%;
    }
}
.main-text{
    color: #858b97;
}
button{
    background-color: #1d293d;
    color: #b5bac5;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
#statsButton{
    float: right;
    margin-right: 10px;
}
a{
    color: teal;
}
hr{
    color: #b5bac5;
}
input{
    background-color: #0f172b;
    border-color: #1d293d;
    color: #b5bac5;
}
label{
    border-radius: 5px;
}
body{
    font-family: "poppins";
    background-color: #0c0f1d;
    color: #b5bac5;
}
.invisible-link{
    text-decoration: none;
    color: #b5bac5;
}
#filters{
    border: 5px solid #1d293d;
    display: none;
    background-color: #0f172b;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
#filter{
    position: absolute;
    z-index: 100000;
}

#date-filter{
    display: none;
    background-color: #0f172b;
    border: 5px solid #1d293d;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    vertical-align: top;
}
.date{
        text-align: center;
    }
.logospan{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 50px;
    height: 50px;
}
#news{
    width: 100%;
    height: 100%;
}
@media (max-width: 800px), (orientation: portrait){
    /* mobile devices */
    .hytaleTrackerLogo{
        height: 100px;
    }
    .community-item{
        background-color: #0f172b;
        border: 5px solid #1d293d;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        margin-top: 10px;
        display: inline-block;
        width: calc(100% - 40px);
        height: fit-content;
        vertical-align: top;
        overflow-y: scroll;
    }
    #filterForm{
        height: fit-content;
        width: fit-content;
        max-height: 170px;
        overflow-y: scroll;
    }
    #navbar{
        background-color: #0f172b;
        color: #b5bac5;
        width: calc(100% - padding);
        padding: 10px;
        border-radius: 15px;
        text-align: center;
    }
    hr{
        width: 50%;
    }
    #left{
        width: 100%;
        height: fit-content;
    }
    .news-item{
        border: 5px solid #1d293d;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 90%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        background-color: #0f172b;
    }
    .main-text{
        margin-top: 0px;
    }
    .tag{
        display: inline-block;
        color: rgb(0, 0, 0);
        padding: 2px 8px;
        margin: 5px 5px 0 0;
        border-radius: 10px;
        font-size: 0.8em;
    }
    #sources-div{
        background-color: #0f172b;
        border: 5px solid #1d293d;
        height: fit-content;
        width: 90%;
        border-radius: 10px;
        padding: 10px;
        text-align: left;
    }
    .xButton{
        float: right;
        cursor: pointer;
        font-size: larger;
    }
    .sourcesHeader{
        float: top;
    }
}