@media (min-width: 800px){
    .news-item{
        border: 5px solid rgb(85, 85, 85);
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 10px;
        width: 25%;
        height: fit-content;
        cursor: pointer;
    }
    .main-text{
        margin-top: 0px;
    }
    .tag{
        display: inline-block;
        background-color: #c5c5c5;
        color: rgb(0, 0, 0);
        padding: 2px 8px;
        margin: 5px 5px 0 0;
        border-radius: 10px;
        font-size: 0.8em;
    }
    hr{
        width: 25%;
    }
    #sources-div{
        background-color: #c5c5c5;
        height: fit-content;
        width: 25%;
        border-radius: 10px;
        padding: 10px;
    }
    .xButton{
        float: right;
        cursor: pointer;
    }
    .sourcesHeader{
        float: top;
    }
}
#filters{
    display: none;
    background-color: #c5c5c5;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
#filter{
    position: absolute;
    z-index: 100000;
}
#filterForm{
    height: fit-content;
    width: fit-content;
    max-height: 170px;
    overflow-y: scroll;
}
#date-filter{
    display: none;
    background-color: #c5c5c5;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    vertical-align: top;
}
.date{
        text-align: center;
    }
.logospan{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 50px;
    height: 50px;
}
#news{
    width: 100%;
    height: 100%;
}
@media (max-width: 800px), (orientation: portrait){
    /* mobile devices */
    hr{
        width: 50%;
    }
    #left{
        width: 100%;
        height: fit-content;
    }
    .news-item{
        border: 5px solid rgb(85, 85, 85);
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 90%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .main-text{
        margin-top: 0px;
    }
    .tag{
        display: inline-block;
        background-color: #c5c5c5;
        color: rgb(0, 0, 0);
        padding: 2px 8px;
        margin: 5px 5px 0 0;
        border-radius: 10px;
        font-size: 0.8em;
    }
}