name: rss creator
run-name: update rss.xml

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-rss-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Run script
        run: node rss.js

      - name: Commit & push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Update RSS feed" || echo "No changes to commit"
          git push
